/* 
    Created on : 30 Nov 14, 10:01:39
    Author     : harviacode.com
*/


body{
    background-color: white !important;
    margin:0px !important;
    padding:0px !important;
}

.container,container-fluid{
    padding: 0px 15px !important;
}

/*header*/
.myheader{
    background: -webkit-linear-gradient(0deg, #01549A 10%, #023467 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(0deg, #01549A 10%, #023467 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(0deg, #01549A 10%, #023467 90%); /* IE10 */
    background:      -o-linear-gradient(0deg, #01549A 10%, #023467 90%); /* Opera 11.10+ */
    background:         linear-gradient(0deg, #01549A 10%, #023467 90%); /* W3C */
    min-height: 140px;
}

.headertext{
    color: white; font-family: serif; font-size: 20px; line-height: 0px
}

.headertextbox{
    padding-top:30px;
}

.searchbox{
    padding-top:40px
}

.myheaderbottom{
    background: -webkit-linear-gradient(180deg, #01549A 10%, #023467 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, #01549A 10%, #023467 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #01549A 10%, #023467 90%); /* IE10 */
    background:      -o-linear-gradient(180deg, #01549A 10%, #023467 90%); /* Opera 11.10+ */
    background:         linear-gradient(180deg, #01549A 10%, #023467 90%); /* W3C */
}

/*footer bagian atas*/
.mytopfooter{
    background: -webkit-linear-gradient(180deg, #01549A 10%, #023467 90%);  /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, #01549A 10%, #023467 90%);  /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #01549A 10%, #023467 90%);  /* IE10 */
    background:      -o-linear-gradient(180deg, #01549A 10%, #023467 90%);  /* Opera 11.10+ */
    background:         linear-gradient(180deg, #01549A 10%, #023467 90%);  /* W3C */
    /*background-color: #022F5A;*/
    color : white;
}

/*footer bagian bawah*/
.myfooter{
    background: -webkit-linear-gradient(180deg, #303030 10%, #111111 90%);  /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, #303030 10%, #111111 90%);  /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #303030 10%, #111111 90%);  /* IE10 */
    background:      -o-linear-gradient(180deg, #303030 10%, #111111 90%);  /* Opera 11.10+ */
    background:         linear-gradient(180deg, #303030 10%, #111111 90%);  /* W3C */
    color: white;
    /*background-color: #333333;*/
    /*border-top: 1px solid black;*/
}

.link-footer{
    padding-bottom: 10px
}

.link-footer a{
    color: white;
}

/*label logo traveller dan post*/
.label-logo{
/*    background: -webkit-linear-gradient(180deg, #F8D838 10%, #FFF500 90%);   Chrome 10+, Saf5.1+ 
    background:    -moz-linear-gradient(180deg, #F8D838 10%, #FFF500 90%);   FF3.6+ 
    background:     -ms-linear-gradient(180deg, #F8D838 10%, #FFF500 90%);   IE10 
    background:      -o-linear-gradient(180deg, #F8D838 10%, #FFF500 90%);   Opera 11.10+ 
    background:         linear-gradient(180deg, #F8D838 10%, #FFF500 90%);   W3C */
    /*background-color: #FFF500 #F8D838;*/
    background-color: #FFF500;
    /*border-top: 1px solid black;*/
}

/*menu*/
.brand{
    padding: 11px 0px !important;
    margin-left: 0px !important;
}

.navbar-inner{
    background-color: #022F5A !important;
    padding-left: 0px !important;
    /*color: white !important*/
}

.yamm{
    margin-bottom: 0px;
}

a.dropdown-toggle{
    color: white !important
}
.dropdown-menu{
    margin-top:0px !important;
}
.navbar .nav>li>a{
    /*margin-top: 3px;*/
    border-bottom: none !important
}
#nav1 ul.nav>li{
    min-height: 44px !important
}
.dropdown-menu{
    /*min-width: 600px !important;*/
    border-radius: 0px !important;
}
.yamm-content{
    padding: 10px 20px !important;
}
.nav-collapse>nav>li:hover{
    background-color: none !important;
}

/*card*/
.card{
    border: 1px solid #D8D8D8 !important;
    border-radius: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 2px 2px 0px 0px;
}
.card-actions{
    margin-top: 15px !important;
    padding-bottom: 15px  !important;
}

.judul4{
     margin: 10px 0px 10px 0px; color: #262626;
    padding: 9px 12px; border-radius: 2px 2px 0px 0px;
    background-color: #8CCA1D;
/*    background: -webkit-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   Chrome 10+, Saf5.1+ 
    background:    -moz-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   FF3.6+ 
    background:     -ms-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   IE10 
    background:      -o-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   Opera 11.10+ 
    background:         linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   W3C  */
}

.nav-tabs{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tabs > li > a{
    font-weight: bold !important;
    color: #014B8C;
    padding: 9px 12px;
    border: none;
}

.nav-tabs > .active a, .nav-tabs > .active a:focus, .nav-tabs > .active a:hover{
    border: none;
    background-color: #8CCA1D;
/*    background: -webkit-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   Chrome 10+, Saf5.1+ 
    background:    -moz-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   FF3.6+ 
    background:     -ms-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   IE10 
    background:      -o-linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   Opera 11.10+ 
    background:         linear-gradient(180deg, #7CC111 10%, #79D12D 90%);   W3C */
}

.judul5{
    border: 1px solid #D8D8D8; 
    margin: 0px; 
    color: #014B8C;
    padding: 8px;
    background-color: #F5F5F5;
    border-radius: 2px 2px 0px 0px;
}

.isi_judul5{
    padding: 8px;
    border: 1px solid #D8D8D8; 
    border-top: none;
}

/*            .dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}*/

/*sembunyikan next prev carousel slider*/

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.carousel-control{top: 50%}

.mycard{border: 1px solid lightgray; padding: 5px; color: #014B8C}

.back-to-top{position:fixed;bottom:13px;right:12px;_position:absolute;padding:0.5em 0.8em;border:none;text-decoration:none;background-color: #8CCA1D; color: black}

.mylist{
    list-style: none;
    margin-left: 0px
}
.mylist>li{
    border: 1px solid lightgray; 
    margin-top: 4px;
    padding: 5px 7px;
    border-radius:5px 5px 5px 0px;
    -moz-border-radius:5px 5px 5px 0px;
    -webkit-border-radius:5px 5px 5px 0px;
}

.mylist>li.active{
    /*border: 1px solid grey;*/
    background-color: #F5F5F5;
}

.mylist>li:hover{
    border: 1px solid grey; 
}

.mylist>li>a{
    display: block;
    text-decoration: none;
    color: inherit
}

input.mysearch{
    height: 32px;
    border: none !important
}

a.mysearchbtn{
    background-image: none !important;
    /*background-color: #F6C51C !important;*/
    background-color: #8CCA1D !important;
    border: none !important
}

.input-append.input-block-level {
  display: table;
  width: 100%;
}
.input-append.input-block-level,
.input-prepend.input-block-level {
  display: table;
}

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
  display: table-cell;
  width: 1%; /* remove this if you want default bootstrap button width */
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  display: table; /* table-cell is not working well in Chrome for small widths */
  min-height: inherit;
  width: 100%;
}

.input-append.input-block-level > input {
  border-right: 0;
}

.input-prepend.input-block-level > input {
  border-left: 0;
}         


@media (max-width: 979px) {
    .dropdown-toggle{
        color: #555;
        background-color: #022F5A !important;
    }
    .dropdown-menu li{
        padding-bottom: 10px !important;
    }
    .dropdown-menu a{
        color: white !important;
        background-color: #022F5A !important;
        font-weight: normal !important;
    }
    .navbar-inner{
        padding-right: 0px !important;
        /*color: white !important*/
    }
    
    .headertext{
    color: white; font-family: serif; font-size: 14px; line-height: 0px
    }
}

@media (max-width: 480px) {
    .headertextbox{
        padding-top:20px
    }

    .searchbox{
        padding-top:20px
    }

}

a.bahasa{
    color: white
}

.breadcrumb{
    margin-top: 10px;
    margin-bottom: 0px;
}

.fa-li{
    padding-top: 2px;
}

.list-footer.fa-ul{
    margin-left: 18px;
}

.media{
    text-align: justify !important
}

/*input append start*/
#my_append.input-block-level {
  display: table;
}

#my_append.input-block-level .add-on {
  display: table-cell;
  padding: 0px;
  line-height: 28px !important;
  height: 26px !important;
  min-height: 26px !important;
  /*width: 1%;  remove this if you want default bootstrap button width */
}

#my_append.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  display: table; /* table-cell is not working well in Chrome for small widths */
  min-height: inherit;
  width: 100%;
}

.input-append.input-block-level > input {
  border-right: 0;
}

.input-prepend.input-block-level > input {
  border-left: 0;
} 

#my_search_button{
    line-height: 26px !important;
    height: 26px !important;
    min-height: 26px !important;
}

#my_search_reset_button{
    line-height: 26px !important;
    height: 26px !important;
    min-height: 26px !important;
    border-right: none !important;
}
/*input append end*/

.question{
    margin-top: 10px;
    text-align: justify;
    color: #014B8C;
}

.question:hover{
    /*text-decoration: underline;*/
    color: #333333;
    cursor: pointer;
    background-color: #F5F5F5;
}

.answer{
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: justify;
}

.download-title{
    margin-top: 10px;
    text-align: justify;
}

.download-title:hover{
    cursor: pointer;
    background-color: #F5F5F5;
}

.download-detail{
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: justify;
}

/*shortcut start*/
.shortcut-row{
    margin: 30px 0px 20px 0px;
}

.shortcut-box-first{
    border-left: 1px solid white;
}

.shortcut-box{
    border-left: 1px solid #D8D8D8;
}

.shortcut-holder{
    margin-left: 15px; position: relative;border: 1px solid white;
}

.shortcut-holder:hover{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border: 1px solid #014B8C; cursor: pointer;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.shortcut-title{
    position: absolute; text-align: center; width: 100%; color: #014B8C;
}

.shortcut-img{
    margin-top: 30px;
}

.shortcut-hover{
    padding: 7px;
}
/*

.shortcut-box-first{
    border-left: none;
}
.shortcut-box{
    padding-right:20px; 
    border-left: 1px solid lightgray;
}

.shortcut-title-first{
    color: #014B8C;
    text-align: center;
    margin-left: 20px
}

.shortcut-title{
    color: #014B8C;
    text-align: center;
    margin-left: 20px;
}

.shortcut{
    margin-left: 20px;
    padding: 20px;
}

.shortcut:hover{
    padding: 0px;
    cursor: pointer;
}

.my-shortcut-row{
    overflow: hidden; 
}

.my_shortcut-title{
    margin-bottom: -99999px;
    padding-bottom: 99999px;}*/
/*shortcut end*/

.mycontent{
    text-align: justify;
}

#tabKurs{
    margin-bottom: 10px
}

.wbc_box img{
    border: 1px solid lightgray;
    margin-bottom: 20px
}
.wbc_box img:hover{
    border: 1px solid #022F5A;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.berita_img{
    width: 150px;
    height: 100px;
}

.expand{
    cursor: pointer
}

/*scrollbar*/
#mCSB_1_scrollbar_vertical{
    margin: 0px !important;
}

#mCSB_2_scrollbar_vertical{
    margin: 0px !important;
}

.mCSB_dragger_bar{
    width: 6px !important;
}